/*NAVBAR*/
.navbar-custom {
  background-color: pink; }
  .navbar-custom .navbar-brand {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; }
  .navbar-custom .navbar-toggler {
    border-color: white;
    border-width: 2.5px;
    background-color: pink; }
  .navbar-custom .nav-link {
    color: white; }
  .navbar-custom .navbar-toggler-icon {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1024px-Hamburger_icon_white.svg.png); }
  .navbar-custom a:hover {
    color: palevioletred; }

/*FOOTER*/
.footer {
  background-color: pink;
  padding: 10px 0; }
  .footer a {
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all .5s ease; }
    .footer a:hover {
      color: palevioletred; }

/*SOBRE NOSOTROS*/
.image-aboutus-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://drive.google.com/uc?export=view&id=1pU-iCtYW0ho8WHRow7IQVE8s1A5c6a7q");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 110px;
  padding-bottom: 110px; }

.image-aboutsm-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://drive.google.com/uc?export=view&id=1pU-iCtYW0ho8WHRow7IQVE8s1A5c6a7q");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px; }

/*ADOPTA!*/
.contact-form {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  background-color: bisque; }
  .contact-form .form-control {
    border-radius: 1rem; }
  .contact-form form {
    padding: 14%; }
    .contact-form form .row {
      margin-bottom: -7%; }
  .contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: palevioletred;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; }
  .contact-form p {
    color: palevioletred;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify; }
  .contact-form .btnContact {
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: darkmagenta;
    font-weight: 600;
    color: #fff;
    cursor: pointer; }

/*PERROS Y GATOS*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  * html {
    height: 100%; }
  * body {
    height: 100%;
    margin: 0;
    font: 16px/1.3 sans-serif; }

.CSSgal {
  position: relative;
  overflow: hidden;
  height: 100%;
  color: #fff;
  text-align: center; }
  .CSSgal .slider {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s; }
    .CSSgal .slider > * {
      font-size: 1rem;
      display: inline-block;
      white-space: normal;
      vertical-align: top;
      height: 100%;
      width: 100%;
      background: none 50% no-repeat;
      background-size: cover; }
    .CSSgal .slider h2 {
      margin-top: 35vh;
      font-weight: 200;
      letter-spacing: -0.06em;
      word-spacing: 0.2em;
      font-size: 3em;
      background-color: rgba(0, 0, 0, 0.3); }
    .CSSgal .slider p {
      background-color: rgba(0, 0, 0, 0.3);
      font-size: 20px; }
    .CSSgal .slider .Perros1 {
      background-image: url("https://www.viveusa.mx/sites/default/files/field/image/perro_salchicha.jpg");
      height: 100vh; }
    .CSSgal .slider .Perros2 {
      background-image: url("https://www.happets.com/blog/wp-content/uploads/2019/10/happy-pets-que-necesita-tu-perro-para-ser-feliz-1024x683.jpg");
      height: 100vh; }
    .CSSgal .slider .Perros3 {
      background-image: url("https://verdecora.es/blog/wp-content/uploads/2019/09/como-saber-perro-es-feliz.jpg");
      height: 100vh; }
    .CSSgal .slider .Perros4 {
      background-image: url("https://okdiario.com/img/2019/07/02/conoce-estas-cuatro-subrazas-de-caniche-1.jpg");
      height: 100vh; }
    .CSSgal .slider .G1 {
      background-image: url("https://www.fundacion-affinity.org/sites/default/files/el-gato-necesita-tener-acceso-al-exterior.jpg");
      height: 100vh; }
    .CSSgal .slider .G2 {
      background-image: url("https://s1.eestatic.com/2021/06/30/curiosidades/mascotas/592951586_193746687_1706x960.jpg");
      height: 100vh; }
    .CSSgal .slider .G3 {
      background-image: url("https://estaticos-cdn.elperiodico.com/clip/690a7c8f-559f-455f-b543-41a153fe8106_alta-libre-aspect-ratio_default_0.jpg");
      height: 100vh; }
    .CSSgal .slider .G4 {
      background-image: url("https://t1.uc.ltmcdn.com/images/6/2/6/como_saber_si_mi_gato_es_feliz_51626_orig.jpg");
      height: 100vh; }
  .CSSgal .prevNext {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 0; }
    .CSSgal .prevNext > div + div {
      visibility: hidden; }
    .CSSgal .prevNext a {
      background: #fff;
      position: absolute;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      opacity: 0.7;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0; }
      .CSSgal .prevNext a:hover {
        opacity: 1; }
    .CSSgal .prevNext a + a {
      left: auto;
      right: 0; }
  .CSSgal .bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center; }
    .CSSgal .bullets > a {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-decoration: none;
      text-align: center;
      background: white;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .CSSgal .bullets > a:hover {
        background: rgba(255, 255, 255, 0.7) !important; }
    .CSSgal .bullets > a + a {
      background: rgba(255, 255, 255, 0.5); }
  .CSSgal > s:target ~ .bullets > * {
    background: rgba(255, 255, 255, 0.5); }
  .CSSgal #s1:target ~ .bullets > *:nth-child(1) {
    background: white; }
  .CSSgal #s2:target ~ .bullets > *:nth-child(2) {
    background: white; }
  .CSSgal #s3:target ~ .bullets > *:nth-child(3) {
    background: white; }
  .CSSgal #s4:target ~ .bullets > *:nth-child(4) {
    background: white; }
  .CSSgal > s:target ~ .prevNext > * {
    visibility: hidden; }
  .CSSgal #s1:target ~ .prevNext > *:nth-child(1) {
    visibility: visible; }
  .CSSgal #s2:target ~ .prevNext > *:nth-child(2) {
    visibility: visible; }
  .CSSgal #s3:target ~ .prevNext > *:nth-child(3) {
    visibility: visible; }
  .CSSgal #s4:target ~ .prevNext > *:nth-child(4) {
    visibility: visible; }
  .CSSgal #s1:target ~ .slider {
    transform: translateX(0%);
    -webkit-transform: translateX(0%); }
  .CSSgal #s2:target ~ .slider {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%); }
  .CSSgal #s3:target ~ .slider {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%); }
  .CSSgal #s4:target ~ .slider {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%); }

/*INDEX*/
.bg-image {
  background-image: url("https://www.simplemost.com/wp-content/uploads/2017/10/AdobeStock_84666307-e1600353477630.jpeg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-image2 {
  background-image: url("https://i0.wp.com/thehappening.com/wp-content/uploads/2020/06/espacio-perro.jpg?fit=1024%2C694&ssl=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-image3 {
  background-image: url("https://www.infobae.com/new-resizer/4M1fjfNa7mpS8hd855DHMpm1e_s=/1200x900/filters:format(webp):quality(85)//s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/03/05145635/veterinario.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-image4 {
  background-image: url("https://estaticos.muyinteresante.es/uploads/images/video/5b1fe4065cafe831213c986a/caricia-gato-portada.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-image5 {
  background-image: url("https://i.blogs.es/9fca7a/gato/1366_2000.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.position-relative h1 {
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.5); }

.position-relative h2 {
  color: palevioletred; }

.position-relative .lead {
  background-color: rgba(0, 0, 0, 0.5); }

.bg-color {
  background-color: plum; }
  .bg-color .lead {
    background-color: rgba(0, 0, 0, 0); }

.bg-color2 {
  background-color: #FDEFF4; }
  .bg-color2 .lead {
    background-color: rgba(0, 0, 0, 0);
    color: darkmagenta; }
  .bg-color2 .display-5 {
    color: darkmagenta; }
